<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head.ejs', { page: 'Home'}) %>
  <body>
    <%- include('partials/logged_in_nav.ejs') %>
  
  <div class="card">
    <img src="https://pbs.twimg.com/media/DdCPpUOVMAEnbij.jpg" alt="">
    <h4 class="index_opener">Ready to take your training to super saiyan? Head over to the create workout link and lets create a new workout together!</h4>
  </div>
  <section class="hero is-fullheight-with-navbar is-link">
    <div class="hero-body is-flex-direction-column">
    

    <h1>Success Stories</h1>
    <div id="story-container">
    <% stories.forEach(story => { %> 
      <div class="card">
        <div class="box"><%= story.name %></div> 
        <div class="box"><%= story.description %></div>
        <img class="image " src=<%= story.photo %> />
      </div>
    <% }) %>
  </div>
  </div>
  </section>
</body>
</html>