<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head.ejs', { page: 'Home'}) %>
  <body>
    <%- include('partials/logged_in_nav.ejs') %>

<section class="hero is-fullheight-with-navbar is-link">
  <div class="hero-body is-flex-direction-column">
    <h1 class="label">New Workouts</h1>
  
  <h1>All Available Exercises</h1>
  <% if (typeof error !== "undefined") { %>
   <p><%= error %> </p>
  <% } %>
  <div class="card p-3">
    <form method="POST">
      <div class="field">
        <label class="label">Choose Exercise</label>
        <% exercises.forEach(allExercises => { %> 
          
          <input
          name="exercise"
          class="checkbox"
          type="checkbox"
          value="<%= allExercises._id %>"
          /> 
          <label for="exercises"><%= allExercises.name %> </label>
          <br>
          
      
    <% }) %>
    <button class="button is-success" type="submit">Save Workout</button>
  </div>
</form>
    
  </div>
</div>
</section>
</body>

</html>